@nithinkrish-25                                           
Day 2

# Python Data structures and Boolean


- Boolean
- Boolean and Logical Operators
- Lists
- Comparison Operators
- Dictionaries
- Tuples
- Sets

## Boolean Variables
- It is one of the python's data types.The use of this is to represent the True or False value of an expression.

In [15]:
print(True,False)

True False

In [14]:
type(True)

bool

In [19]:
#Example 
a = 10
b = 15
a + b

25

In [24]:
if a+b:
    print("The answer is correct , the answer is {}".format(a+b))
else:
    print("The answer is wrong")

# In this code i used bool to check whether the given expression is true or false , so a+b was actually 25 so it returned that the answer is correct (True).

The answer is correct , the answer is 25

In [25]:
my_name = "Nithin Krishnan"

In [26]:
my_name.isalnum() #okay , now here .isalnum() means whether the given variable contains any numbers so , there are no numerical values so bool value is False.

False

## Boolean and Logical Operators

In [27]:
True and True

True

In [28]:
True and False

False

In [29]:
True or False

True

In [30]:
True or True

True

In [33]:
my_name = "Nithin Krishnan"
my_num = "123456"
my_name.isalpha() or my_name.isalnum()
#here i have assigned my_name to string and used "OR" ,and here  only one is true .So i have returned True.

True

## Lists

- List is created using [ ] in which inside each element are seperated using " , " . It can aslo contains any type of data types . Inside each element is called an item

In [35]:
fruit_list = []

In [41]:
type(fruit_list)

list

In [37]:
todo_list = list()

In [39]:
type(todo_list)
#Okay here i have used list() which is alternate method for [] ,

list

In [43]:
fav_cars = ["Audi" , "BMW" , "Maclaren" , "Rolls Royce"]

In [44]:
fav_cars

['Audi', 'BMW', 'Maclaren', 'Rolls Royce']

## Append
- Now we can see how to append a new element inside the lists

In [53]:
fav_cars.append(["Aston Martin"])

In [54]:
fav_cars

['Audi',
 'BMW',
 'Maclaren',
 'Benz',
 'Benz',
 'Rolls Royce',
 'Aston Martin',
 ['Aston Martin']]

## Insert

In [50]:
fav_cars.insert(3,"Benz") 
#Here i have used .insert function which is used to insert a element  and the 1st parameter is the position where do we need to insert the element

In [51]:
fav_cars

['Audi', 'BMW', 'Maclaren', 'Benz', 'Benz', 'Rolls Royce', 'Aston Martin']

In [ ]:
fav_cars

## Extend

In [55]:
fav_num = ['1','2','3','4']

In [57]:
fav_num.extend([5,6])

In [58]:
fav_num

['1', '2', '3', '4', 5, 6]

In the above code i have used .extend() method to add more than one elements , the diff between .append() and .extend() , append is use to append only one element by the way extend is use to insert number of elements inside the lists.

## Various operation used in lists

In [59]:
num = [1 , 2 , 3 , 4 , 5]

In [60]:
sum(num) #adds the value inside the lists.

15

### .pop()

In [61]:
num.pop()

5

In [63]:
num #.pop() is used to remove the last element or , mention a index it will remove the given index

[1, 2, 3, 4]

### Count()

In [64]:
num = [1,2,3,4,5,6,7,8,8,9,10]

In [66]:
num.count(8)
#8 has been repeated again two times

2

### Length

In [68]:
len(num)
# returns the length of the list

11

### Min and Max

In [69]:
min(num)
#returns the min element in the list

1

In [71]:
max(num)
#returns the max element in the list

10

## *

In [73]:
num*2
#multiplying the list with 2 produces the following output.

[1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 10]