@nithinkrish-25
# Welcome to Python tutorial
## BASICS OF PYTHON

In this section we are going to learn about basics of python.
  
- Data types in Python
- Variables in Python
- Variables assigment
- Print formatting

### Integers (int)

In [2]:
1+2

3

In [3]:
19-12

7

In [4]:
45*10

450

In [7]:
50/5

10.0

In [8]:
50**4

6250000

### Float (float)

In [9]:
20.19 * 23.10

466.38900000000007

In [10]:
167.54 + 130.98

298.52

### Complex (complex)

eg: x=1j

### String (str)

In [12]:
x = "Nithin"

In [13]:
print(x)

Nithin

###  Tuple  (tuple)

In [14]:
x = ("apple", "banana", "cherry")

In [15]:
print(x[1])

banana

### List (list)

In [ ]:
x = ["Tesla", "Maclaren", "Maserati"]

### Dictionary (dict)

In [ ]:
x = {"Name" : "Nithin", "age" : 25}

### Boolean (Bool)

In [25]:
x = True

In [28]:
print (x)

True

### To identify the type of the data..!

In [30]:
x = "Hallo Menschen"
type(x)

str

## Variable assignment

In [33]:
a = 10 
print(a)
type(a)
#in here we have assigned a to the value 10 in second line we have printed the a which contain the value and aslo the type of the data.

10

int

In [34]:
a = 20
b = 15

In [35]:
print (a+b)

35

### Print Formating

In [43]:
first_name = 'Nithin'
last_name = 'Krishnan'

In [44]:
print ("The first name is {} and the surname is {}".format(first_name ,last_name)) 
#here i have assigned first_name and last_name with my full name and down here, using format function i have assigned inside using curly brackets

The first name is Nithin and the surname is Krishnan

In [50]:
len(first_name)

6

In [49]:
type(first_name)

str