@nitinkrishnan

Day 3

## Sets
One of the 4 build-in data types ,this sets are used to store multiple items in a single variabale.It is differnt from lists , it cant be changed and cant be indexed.There can be no duplicate items inside a set.

In [4]:
##Defining a empty set

set_itm = set()
print(set_itm)
print(type(set_itm))

set()
<class 'set'>

In [10]:
set_num = {1,2,3,4,4,5,5,6,6}
print(set_num)
## We can see that the repeated items are not shown in output as sets do not show duplicate elements inside it.

{1, 2, 3, 4, 5, 6}

In [7]:
aven = {"Captain America" , "Iron Man" , "Thor", "Starlord"} ## In sets we use curly brackets
print(aven)
type(aven)

{'Iron Man', 'Thor', 'Starlord', 'Captain America'}

set

In [12]:
#Inbuilt functions in sets.
aven.add("Hulk")
print(aven)

{'Iron Man', 'Hulk', 'Captain America', 'Thor', 'Starlord'}

Above i gave a basic inbuilt funtion you can search for other functions those are cool.

## Dictionaries

Dictionaries are used to store data in key and values.It uses curley brackets inside stores a collection of data which can be changable but does not allow duplicate elements. They have a key and a value

In [14]:
dic={}
type(dic)

dict

In [30]:
fav_cars = {"car1":"BMW" , "car2":"Benz" , "car3":"Maclaren"}
print(type(cars))

<class 'dict'>

In [35]:
#for loop is used here to iterate all key inside.
for x in fav_cars:
    print(x)

car1
car2
car3

In [36]:
#for loop is used here aslo in which here we have used .values to retrieve values for the keys.
for x in fav_cars.values():
    print(x)

BMW
Benz
Maclaren

In [31]:
#how to access a element in a dict
fav_cars["car3"]

'Maclaren'

In [32]:
print(cars.get('car1'))

BMW

In [37]:
#Adding a new element inside the dict{}
fav_cars["car4"] = "Maserati"
fav_cars

{'car1': 'BMW', 'car2': 'Benz', 'car3': 'Maclaren', 'car4': 'Maserati'}

## Nested Dictionaries

In [42]:
car1_model = {"Mahindra":"XUV700"}
car2_model = {"Tata":"Tiago"}
car3_model = {"Skoda":"Octavia"}

In [44]:
car_type = {'car1':car1_model , 'car2':car2_model , 'car3' : car3_model}
print(car_type)

{'car1': {'Mahindra': 'XUV700'}, 'car2': {'Tata': 'Tiago'}, 'car3': {'Skoda': 'Octavia'}}

In [45]:
type(car_type)

dict

In [46]:
print(car_type['car1'])

{'Mahindra': 'XUV700'}

In [47]:
print(car_type['car1']['Mahindra'])

XUV700

## Tuples

Tuples are used to store multiple items in a single variable. Tuple is one of 4 built-in data types in Python used to store collections of data

In [50]:
my_tuple = tuple()#in tuple round brackets are used.
print(type(my_tuple))

<class 'tuple'>

In [55]:
my_tuple = ("Nithin" , "Krish" , "Aishwarya")

In [57]:
my_tuple.count("Krish")

1

In [58]:
my_tuple.index("Aishwarya")

2